<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="row justify-content-between my-3">
        <div class="col-8">
          <h1>VAGAS.com API</h1>
        </div>
        <div class="col-4">
          <%= link_to "Acesse a API", api_v1_vagas_path, class:"btn btn-primary mt-1"%>
        </div>
      </div>
      <h5>Uma API para encontrar vagas do site
        <a href="https://www.vagas.com.br">VAGAS.com</a>
      </h5>
      <ul>
        <li>
          <strong>Título:</strong>
          Título ou cargo da vaga
        </li>
        <li>
          <strong>Empresa:</strong>
          Quem está anunciando a vaga
        </li>
        <li>
          <strong>Nível:</strong>
          Nível técnico exigido
        </li>
        <li>
          <strong>Descrição:</strong>
          Breve descrição, muitas vezes com pré-requisitos
        </li>
        <li>
          <strong>Local:</strong>
          Local da vaga
        </li>
        <li>
          <strong>URL:</strong>
          Url para ver detalhes da vaga
        </li>
      </ul>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <h3>Busque diretamente aqui:</h3>
      <%= simple_form_for :search, url: api_v1_vagas_path, method: :get do |f| %>
        <%= f.input :título, required: false %>
        <%= f.input :empresa, required: false %>
        <%= f.input :nível, required: false %>
        <%= f.input :descrição, required: false %>
        <%= f.input :local, required: false %>
        <%= f.submit "Pesquisar", class:"btn btn-warning w-100" %>
      <% end %>
    </div>
  </div>
</div>
